<!DOCTYPE html>
<html>
  <head>
    <title>Aplicacao</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>Testando o Layout</p>
 <%= image_tag "https://i.redd.it/siztzgivq7c61.jpg", size: "375x125" %>
    
    <%= yield %>

  <p> Teste de rodape</p>
  </body>
</html>
